:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.react-flow__node {
  width: auto !important;
}

.react-flow__handle {
  width: 8px !important;
  height: 8px !important;
  background-color: #555 !important;
}
:root {
  touch-action: pan-x pan-y;

  height: 100%;
}
